.nana-header {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 70px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.17);
  background-color: rgba(255,255,255, 1.0);
  .nana-container {
    display: flex;
    align-items: center;
    height: 70px;
  }
}
.Logo-Area{
  margin-left: 50px;
  .nanairo-logo {
    width: 300px;
    vertical-align: middle;
  }
}

.nana-nav1{
  margin: 0 0 0 auto;
  ul {
    display: flex;
    list-style: none;
  }
  li {
    margin: 0 25px;
    line-height: 60px;
    &.Mako {
      width: 60px;
      height: 60px;
      border-radius: 30px;
      border: solid 1px gray;
      box-sizing: border-box;
      margin: 0 20px;
      text-align: center;
    }
  }
}


@media only screen and (max-width: 755px) {
  .nana-header {
    .nana-container{
      justify-content: none;
      align-items: none;
    }
  }

  .Logo-Area{
    margin-left: 20px;
    .nanairo-logo {
      width: 150px;
      vertical-align: middle;
    }
  }
}

@media only screen and (max-width: 950px) {
  .nana-nav1{
    display: none;
  }
}
