.article-page {
  width: 77%;
  padding: 100px;
  margin: 50px auto 50px auto;
  line-height: 26px;
  border-radius: 20px;
  box-shadow: 0px 2px 5px 1px rgba(64, 60, 67, 0.16);
  h2 {
    font-size: 1.7rem;
  }
  .created-A-Date {
    text-align: right;
  }
  .category {
    ul {
      text-align: left;
      li {
        list-style: none;
      }
    }
  }
  .article-text {
    padding: 5%;
  }
}


@media only screen and (max-width: 769px) {
  // .article-page {
  //   height: 100vh;
  //   padding: 70px 0 0 0;
  //   font-size: 0.9rem;
  // }
}
