.article-page {
  width: 77%;
  padding: 100px;
  margin: 50px auto 50px auto;
  line-height: 26px;
  border-radius: 20px;
  box-shadow: 0px 2px 5px 1px rgba(64, 60, 67, 0.16);
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  .created-A-Date {
    text-align: right;
    padding-right: 2%;
  }
  .category {
    ul {
      text-align: left;
      li {
        list-style: none;
      }
    }
  }
  .article-text {
    padding: 5%;
  }
}

.article-tarasi-area {
  display: flex;
  margin: 10% 0;
  div{
    padding: 20px;
  }
  .prev {
    position: absolute;
    left: 40%;
  }
  .next {
    position: absolute;
    right: 40%;
  }
}


@media only screen and (max-width: 769px) {
  .article-page {
    width: 100%;
    margin: 0;
    padding: 120px 0 0 0;
    font-size: 0.9rem;
    box-shadow: none;
    .created-A-Date {
      padding-right: 5%;
    }
    h2{
      padding-left: 5%;
      font-size: 1.2rem;
    }
    .article-text {
      padding: 5% 5% 50% 5%;
    }
  }
  footer {
    box-shadow: 0px 2px 5px 2px rgba(64, 60, 67, 0.35);
  }
}
