.page{

  .Blog-Area {
    h2 {
      text-align: center;
      font-size: 2rem;
      padding: 50px 0 20px 0;
    }
    .article-area {
      article {
        transition: all .3s;
        margin: 5% 5% 5% 5%;
        padding: 50px;
        border-radius: 10px;
        box-shadow: 0px 2px 5px 1px rgba(64, 60, 67, 0.16);
        &:hover {
          transition: all .3s;
          box-shadow: 0px 2px 5px 5px rgba(5, 172, 250, 0.70);
          color:rgba(5, 172, 250, 0.70);
        }
        a {
          display: flex;
        }
      }
    }
  }

  .Photo-Area {
    h2 {
      text-align: center;
      font-size: 2rem;
      padding: 50px 0 20px 0;
    }
  }


  .Twitter-Area{
    max-width: 1000px;
    background-color: white;

    h2 {
      text-align: center;
      font-size: 2rem;
      padding: 50px 0 20px 0;
    }

    .Timeline-Area{
      display: flex;
      justify-content: center;
      align-items: center;

      .MakoHato-T, .Mako-T{
        margin:  25px 25px 50px 25px;

        h3{
          margin: 20px 0 20px 0;
        }

        div {
          padding: 5px 0 5px 0;
          border-radius: 10px;
          box-shadow: 0px 2px 5px 1px rgba(64, 60, 67, 0.16);
        }

      }
    }
  }
}

@media only screen and (max-width: 755px) {
  .page {
    width: 100%;
    margin: 0;
    width: 100%;
    .Blog-Area {
      .article-area {
        article {
          margin: 5% 5% 5% 5%;
          padding: 25px;
          a {
            display: block;
          }
        }
      }
    }
    .Twitter-Area {
      .Timeline-Area {
        padding-bottom: 170px;
        display: block;
        .MakoHato-T, .Mako-T{
          margin: 0px;
          h3 {
            width: 300px;
            margin: 50px auto 30px auto;
          }
          div {
            width: 300px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
