.nana-footer{
  width: 100%;
  height: 70px;
  line-height: 70px;
  border-top: solid 1px gray;
  .copyright {
    text-align: center;
  }
  background-color: white;
}


@media only screen and (min-width: 321px) and (max-width: 768px) {
  .nana-footer {
    position: absolute;
    bottom: 0;
  }
}
