.nana-header {
  position: fixed;
  width: 100%;
  height: 70px;
  border-bottom: solid 1px gray;
  background-color: white;
  .nana-container {
    display: flex;
    align-items: center;
    height: 70px;
  }
}
.Logo-Area{
  margin-left: 100px;
  .nanairo-logo {
    width: 200px;
    vertical-align: middle;
  }
}

.nana-nav1{
  margin: 0 0 0 auto;
  ul {
    display: flex;
    list-style: none;
  }
  li {
    margin: 0 25px;
    line-height: 60px;
    &.Mako {
      width: 60px;
      height: 60px;
      border-radius: 30px;
      border: solid 1px gray;
      box-sizing: border-box;
      margin: 0 20px;
      text-align: center;
    }
  }
}


@media only screen and (max-width: 768px) {
  .nana-header {
    position: static;
    .nana-container{
      justify-content: none;
      align-items: none;
    }
  }

  .Logo-Area{
    margin-left: 20px;
    .nanairo-logo {
      width: 150px;
      vertical-align: middle;
    }
  }

  .nana-nav1{
    display: none;
  }
}
