.wrap{

  .Twitter-Area{
    max-width: 1000px;
    background-color: white;

    h2 {
      text-align: center;
      font-size: 30px;
      padding: 50px 0 20px 0;
    }

    .Timeline-Area{
      display: flex;
      justify-content: center;
      align-items: center;

      .Nana-T, .Mako-T{
        margin:  25px 25px 50px 25px;

        h3{
          margin: 20px 0 20px 0;
        }

        div {
          padding: 5px 0 5px 0;
          border: solid 1px gray;
          border-radius: 10px;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        }

      }
    }
  }
}
