body {
  height: 100%;
  background-color: white;
  font-size: 16px;
  font-family: 游明朝, YuMincho, HGS明朝E, メイリオ, Meiryo, serif;
}

.page {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 70px;
  background-color: white;
  border-right: solid 1px gray;
  border-left: solid 1px gray;
}

.nana-container {
  // width: 80%;
  // max-width: 1000px;
  margin: 0 auto;
}

a {
	color: inherit;
	text-decoration: none;
}

.disp {
  display: none;
}

@media only screen and (max-width: 767px) {
  body {
    position: relative;
  }
  .page {
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 0px;
  }

  .disp {
    display: block;
  }
}
