.Blog-Page {
  .Article-Area {
    article {
      div {
        display: flex;
        h3 {
          padding-left: 50px;
        }
      }
      margin: 5% 10%;
      padding: 5%;
      border-radius: 20px;
      box-shadow: 0px 2px 5px 1px rgba(64, 60, 67, 0.16);
      transition: all .3s;
      &:hover {
        transition: all .3s;
        box-shadow: 0px 2px 5px 5px rgba(5, 172, 250, 0.70);
        color:rgba(5, 172, 250, 0.70);
      }
    }
  }
}



.page-tarasi-area {
  display: flex;
  margin: 10% 0;
  div{
    padding: 20px;
  }
  .prev {
    position: absolute;
    left: 40%;
  }
  .next {
    position: absolute;
    right: 40%;
  }
}


@media only screen and (max-width: 755px) {
  .Blog-Page {
    .Article-Area {
      article {
        div {
          display: block;
          h3 {
            padding: 15px 0 0 0;
          }
        }
      }
    }
  }
  .page-tarasi-area {
    display: flex;
    margin: 0;
    padding: 10% 0 50% 0;
    div{
      padding: 20px;
    }
    .prev {
      font-size: 0.75rem;
      left: 10%;
    }
    .next {
      font-size: 0.75rem;
      right: 10%;
    }
  }
}
